.lost{
    background-image: url("pokemon-psyduck.gif");
    background-size: cover;
    margin-top: -11rem;
    text-align: center;
    color:white;
    min-height: 120vh;
}

.text{
    text-align: center;
    padding-top: 15rem;
    padding-bottom: 5rem;
    background-color: black;
}

a{
    color:white;
}